@keyframes header-effect{
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        filter: none;
        transform: translateY(0);
    }
}
@keyframes main{
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    filter: none;
    transform: translateY(0);
  }
}
/*  自定义 square 动画； */
@keyframes square {
    0% {
      opacity: 0.5;
      transform: translateY(0px) rotate(45deg);
    }
    25% {
      opacity: 0.75;
      transform: translateY(-400px) rotate(90deg)
    }
    50% {
      opacity: 1;
      transform: translateY(-600px) rotate(135deg);
    }
    100% {
      opacity: 0;
      transform: translateY(-1000px) rotate(180deg);
    }
}