.el-card{
    border-radius: 8px;
    font-size: 0.875rem;
    height: auto;
  }
  .el-card__body {
    padding: 10px;
    height: auto;
  }
  .el-card:hover{
    box-shadow:0 4px 12px 12px rgba(7,17,27,.15)
  }
