.item-center{
    display: flex;
    align-items: center;
}
.separator{
    margin: 0 6px;
}
.all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-center{
    display: flex;
    justify-content: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.affix-item{
    position: sticky;
    position: -webkit-sticky;
    top: 57px;
}
.mt5{
    margin-top: 5px;
}
.mb5{
    margin-bottom: 5px;
}
.m5{
    margin: 5px;
}
.dashed-hr{
    margin: 20px auto;
    border: 2px dashed #d2ebfd;
}