a{ text-decoration: none; }
.item-center{
    display: flex;
    align-items: center;
}
.separator{
    margin: 0 6px;
}
.flex{ display: flex; }
.flex-between{
    display: flex;
    justify-content: space-between;
}
.all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-center{
    display: flex;
    justify-content: center;
}
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-center{ text-align: center; }
.affix-item{
    position: sticky;
    position: -webkit-sticky;
    top: 57px;
}
.mt5{ margin-top: 5px; }
.ml5{ margin-left: 5px; }
.mr5{ margin-right: 5px; }
.mb5{ margin-bottom: 5px; }
.m5{ margin: 5px; }
.m10{ margin: 10px; }
.dashed-hr{
    margin: 20px auto;
    border: 2px dashed #d2ebfd;
}
.fill-w{
    width: 100%;
}
.current{ cursor: pointer; }
.fr{ float: right; }
.fl{ float: left; }
